@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
:root {
  --color_1: #040420;
  --color_2: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Edu VIC WA NT Beginner";
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background-color: var(--color_1);
  box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 10vh;
}
nav a {
  color: var(--color_2);
  text-decoration: none;
}
nav #logo {
  font-size: 1.5em;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  padding: 0 1em;
  margin-top: 0.4em;
  font-weight: bold;
  color: var(--color_1);
}

#home-main {
  color: var(--color_1);
  font-size: 2em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
#home-main .hero {
  margin: 0;
  padding: 10px;
  flex-grow: 1;
}
#home-main .hero-pri {
  margin-top: auto;
  margin-bottom: auto;
  width: 30%;
  padding-left: 20px;
  margin-left: 3em;
}
#home-main .hero-pri a {
  text-decoration: none;
  color: white;
  background-color: var(--color_1);
  margin-top: 20px;
  padding: 20px;
  width: 150px;
  border-radius: 10%;
  display: inline-block;
  text-align: center;
  box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.75);
}
#home-main .hero-pri a:hover {
  background-color: rgb(103, 103, 211);
}
#home-main hero-sec {
  flex-grow: 1;
  width: 70%;
}
#home-main img {
  min-height: 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 3em;
  width: 20em;
}

.header {
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: underline;
}
.header h1 {
  margin: 0;
  padding: 0;
}

.the-articles {
  width: 80vw;
  height: 100vh;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
}
.the-articles .art {
  width: 50%;
  height: 400px;
  border-radius: 2%;
  background-color: var(--color_2);
  margin: 20px;
  box-shadow: 0px 11px 5px 0px rgba(0, 0, 0, 0.75);
  flex-grow: 1;
}
.the-articles .art .art-sec {
  padding: 20px;
}
.the-articles .art .art-sec a {
  text-decoration: none;
}

footer {
  background-color: var(--color_1);
}
footer p {
  color: aliceblue;
  margin: 20px auto;
  text-align: center;
}

#re-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 100px;
  margin-top: 0;
  height: 110vh;
}
#re-main #re-head {
  margin-top: 4em;
  height: 20vh;
  margin: 0;
  padding-top: 3em;
  align-items: center;
  text-align: center;
  flex-grow: 0;
}
#re-main #re-option {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px auto;
}
#re-main #re-option .re-sec {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 16vw;
  height: auto;
  flex-grow: 1;
}
#re-main #re-option .re-sec section {
  font-size: 10px;
}
#re-main #re-option .re-sec section h1 {
  font-size: larger;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
#re-main #re-option .re-sec section img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 30em;
}
#re-main #re-option .re-sec section a {
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: var(--color_1);
  display: inline-block;
  border-radius: 5%;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.5em;
}
#re-main #re-option .re-sec section a:hover {
  background-color: rgb(103, 103, 211);
}

#co-head {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 0;
}

#co-main {
  padding: 30px 10em;
  height: auto;
}
#co-main h2 {
  padding-top: 20px;
}
#co-main img {
  float: right;
  -o-object-fit: cover;
     object-fit: cover;
  width: 22em;
  margin: 40px;
}

#contact-main {
  margin: 20px 200px;
  display: flex;
  flex-direction: row;
  height: 74.2vh;
  width: 100vw;
}
#contact-main #contact-A {
  font-size: 30px;
  line-height: 2em;
  padding-top: 5em;
  width: 30%;
}
#contact-main #contact-B {
  flex-grow: 1;
}
#contact-main #contact-B img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 35em;
  height: 20em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 0;
}

#about-main {
  margin: 20px 200px;
  display: flex;
  flex-direction: row;
  height: 74.2vh;
  width: 100vw;
}
#about-main #about-A {
  font-size: 20px;
  line-height: 2em;
  padding-top: 2em;
  padding-right: 2em;
  width: 30%;
}
#about-main #about-B {
  flex-grow: 1;
}
#about-main #about-B img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 35em;
  height: 20em;
  margin-top: 40px;
  margin-right: 100px;
  margin-left: 0;
}/*# sourceMappingURL=style.css.map */